<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52105273287-dc5i2e267buvkpp5t8vujvj6omqpuio7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52105273287-dc5i2e267buvkpp5t8vujvj6omqpuio7</string>
	<key>API_KEY</key>
	<string>AIzaSyDLEFALK4Hr_VvtzalLm5_oq1vcPbVXsAc</string>
	<key>GCM_SENDER_ID</key>
	<string>52105273287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Eli-Hartnett.Module-1-wrap-up-challenge</string>
	<key>PROJECT_ID</key>
	<string>databases---m1-wuc</string>
	<key>STORAGE_BUCKET</key>
	<string>databases---m1-wuc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52105273287:ios:27418f830c49e2d57943e2</string>
</dict>
</plist>